mat-form-field {
    width: 300px;
  }

 #form1 {
    align-items: center !important;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    max-width: 100%;
    place-content: stretch flex-start;
 } 